<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../styles/allergies.css"> --}}

  <!--Balloon feature links to all handlbars  below-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css">

  <title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>

</html>
