<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- ========================
    BOOTSTRAP CSS LINK TAG
    ======================== -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <!-- ============================
    GOOGLE FONT LINK
    ============================ -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" />
  <!-- =======================
    HOMEPAGE CSS 
    ======================= -->
  <link rel="stylesheet" href="./styles/homepage.css" />

  <title>Homepage</title>
</head>

<div>
  <!-- This is the top navbar -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand"></a> <img src="/images/logo.png" width="30" height="30"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-flex ">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item ">
            <a class="nav-link" href="#"> account </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="#"> / </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">sign-out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-3 bg-dark d-flex justify-content-center">
      <ul>
        <li class="nav-item mt-5">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item pt-3">
          <a class="nav-link" href="/results">Allergy Page</a>
        </li>
        <li class="nav-item pt-3">
          <a class="nav-link" href="#">Resources</a>
        </li>
        <li class="nav-item pt-3">
          <a class="nav-link" href="#">Reports</a>
        </li>
        <li class="nav-item pt-3">
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
    </div>

    <div class="col-9 ">

      <!-- date field -->

      <div class="container">
        <div class="row date-field d-flex justify-content-center mt-5">
          <p>{{moment date=d format="DD/MM/YYYY"}}</p>
        </div>
      </div>

      <!-- pollen field -->

      <div class="container pollen-div mt-5">
        <div class="row justify-content-center">
          <p class="title">Today's Pollen Report</p>
        </div>

        <div class="row d-flex justify-content-center mt-2">
          <div class="col-3 text-center">Col 1</div>
          <div class="col-3 text-center">Col 2</div>
          <div class="col-3 text-center">Col 3</div>
          <div class="col-3 text-center">Col 4</div>
        </div>
      </div>

      <!-- search patient -->

      <div class="container my-5 search-box">
        <div class="row justify-content-center">
          <p class="text-center title">Search Patient</p>
        </div>

        <form class="needs-validation" novalidate>
          <div class="form-row d-flex align-items-center">
            <div class="col-md-4 mb-3 ">
              <label for="firstname">First name</label>
              <input type="text" class="form-control" id="firstname" placeholder="First name" 
                required>

            </div>
            <div class="col-md-4 mb-3">
              <label for="lastname">Last name</label>
              <input type="text" class="form-control" id="lastname" placeholder="Last name" 
                required>

            </div>
        </form>
      </div>
    </div>

    <!-- Add patient -->

    <div class="container mt-5 search-box ">
      <div class="row justify-content-center">
        <p class="text-center title">Add Patient</p>
      </div>

      <form class="needs-validation" novalidate>
        <div class="form-row d-flex align-items-center">
          <div class="col-md-4 mb-3 ">
            <label for="firstname">First name</label>
            <input type="text" class="form-control" id="firstname" placeholder="First name" 
              required>
          </div>


          <div class="col-md-4 mb-3">
            <label for="lastname">Last name</label>
            <input type="text" class="form-control" id="lastname" placeholder="Last name" 
              required>
          </div>

        </div>
      </form>
    </div>
  </div>

</div>


{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js/index.js"></script> --}}
