<div style="background-image: url(images/allergy.jpg)">
    <div class="container mt-5 pt-3">
        <div class="row mt-5 pl-3">
            <div class="col-md-6 mt-3">
                <h1 class="stretchLeft">Patient</h1>
                <h1 class="stretchLeft">Allergy</h1>
                <h1 class="stretchLeft">Database</h1>

            </div>
            <div class="col-md-6">
                <form class="stretchRight">
                    <div class="signIn text-center mb-4">
                        <h1>Sign In To PAD</h1>
                    </div>
                    <div class="form-group ml-5 mr-5">
                        <label for="username">Username</label>
                        <input type="username" class="form-control" id="username" aria-describedby="" placeholder="">
                    </div>
                    <div class="form-group ml-5 mr-5">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="">
                    </div>
                    <div class="text-center">
                        <button type="submit" id="login" class="btn btn-danger mt-3"
                            data-balloon="Login to access PAD database" data-balloon-pos="up">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class=footer>
        <p>&copy Copyright 2019</p>
    </div>
</div>