body{
    font-family: 'Source Serif Pro', serif;

    font-size: 20px;
    font-weight: 500;
    background-color: #e6e7e8;
    margin-bottom: 50px;
}


.navbar{
    background-color: #ef4123;
}

.navbar-light .navbar-nav .nav-link {
    color: whitesmoke;
}

ul{
    list-style-type: none;
}

a{
    color: black;
}


.date-field{
    letter-spacing: 1.5px;
    font-family: 'Source Serif Pro', serif;
    font-size: 28px;
}

.pollen-div{
    background-color: white;
    
}

.title{
    color: #ef4123;
}

.search-box {
    background-color: white;
}

textarea:focus, input:focus{
    outline: none;
}