.list-group-item {
  line-height: 2.5;
}
body{
  /* Need to change the path below later on*/
  background-image: url(".images/allergy.jpg");
  font-family: 'Source Serif Pro', serif;
}
form{
  background:#7f7f7f;
  background:white;
  height: 350px;
  border-radius: 15px;
}
.btn{
  width: 30%;
  background-color: red;
  font-family: 'Abril Fatface', cursive;
}
.form-control{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid black 2px;
  margin-top: 2px;
  background-color: transparent
}

label{
  font-size: 18px;
  font-family: 'Abril Fatface', cursive;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:transparent;
  color: white;
  text-align: center;
}

 p{
  font-family: 'Source Serif Pro', serif;
  color: rgba(212, 211, 211, 0.288) 
 }

.signIn{
  font-family: 'Abril Fatface', cursive;
}

h3{
	display:inline-block;
	letter-spacing: 2px;
	font-size: 55px;
	font-family: 'Source Serif Pro', serif;
}


/*====================Animation Below======================*/

.stretchLeft{
  color: white;
	font-family: 'Abril Fatface', cursive;
	font-size: 90px;
	text-shadow: 0px 2px 3px #666;
}

.stretchLeft{
	animation-name: stretchLeft;
	-webkit-animation-name: stretchLeft;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-webkit-transform-origin: 100% 0%; 
}

@keyframes stretchLeft {
	0% {
		transform: scaleX(0.3);
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(0.98);
	}				
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}							
}

@-webkit-keyframes stretchLeft {
	0% {
		-webkit-transform: scaleX(0.3);
	}
	40% {
		-webkit-transform: scaleX(1.02);
	}
	60% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(0.98);
	}				
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(1);
	}		
}

.stretchRight{
	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%; 		
}

@keyframes stretchRight {
	0% {
		transform: scaleX(0.3);
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(0.98);
	}				
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}							
}

@-webkit-keyframes stretchRight {
	0% {
		-webkit-transform: scaleX(0.3);
	}
	40% {
		-webkit-transform: scaleX(1.02);
	}
	60% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(0.98);
	}				
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(1);
	}		
}